**/*.zwc
**/*.dat
**/*.db
**/.uuid
**/*.log
**/*.pid
**/__pycache__/*
**/api.json
**/qsettings
**/watch_later/*
mpd/.config/mpd/mpdstate
qutebrowser/.config/qutebrowser/autoconfig.yml
tmux/.tmux/resurrect/*
icons/dark/DarK-svg
