**/*.db
**/*.dat
**/*.log
**/*.pid
**/__pycache__/*
**/api.json
**/qsettings
mpd/.config/mpd/mpdstate
newsboat/.config/newsboat/history.cmdline
newsboat/.config/newsboat/history.search
qutebrowser/.config/qutebrowser/autoconfig.yml
tmux/.tmux/resurrect/*
mpdscribble
