configuration {
    modi: "drun,run";
    font: "Iosevka Nerd Font 11";
    location: 0;
	fixed-num-lines: true;
	window-match-fields: "name";
	theme: "main" ;
    display-run: " Command";
    display-drun: " Apps";
    sidebar-mode: false;
    timeout {
        action: "kb-cancel";
        delay:  0;
    }
    filebrowser {
        directories-first: true;
        sorting-method:    "name";
    }
}
