configuration {
  case-sensitive: false;
  fake-transparency: true;
  font: "Iosevka Nerd Font 11";
  lines: 8;
  location: 0;
  modi: [drun,run,window];
  padding: 5;
  pid: "/run/user/1000/rofi.pid";
  show-icons: false;
  sidebar-mode: false;
  terminal: "alacritty";
  theme: "~/.config/rofi/themes/gruvbox.rasi";
  window-match-fields: "name";
  yoffset: -50;
}
