binds {
    Mod+Down {
        focus-workspace-down
    }
    Mod+Up {
        focus-workspace-up
    }
    Mod+Shift+Down {
        move-column-to-workspace-down
    }
    Mod+Shift+Up {
        move-column-to-workspace-up
    }
    Mod+Ctrl+Down {
        move-workspace-down
    }
    Mod+Ctrl+Up {
        move-workspace-up
    }
    Mod+WheelScrollDown cooldown-ms=150 {
        focus-workspace-down
    }
    Mod+WheelScrollUp cooldown-ms=150 {
        focus-workspace-up
    }
    Mod+Ctrl+WheelScrollDown cooldown-ms=150 {
        move-column-to-workspace-down
    }
    Mod+Ctrl+WheelScrollUp cooldown-ms=150 {
        move-column-to-workspace-up
    }
    Mod+1 {
        focus-workspace 1
    }
    Mod+2 {
        focus-workspace 2
    }
    Mod+3 {
        focus-workspace 3
    }
    Mod+4 {
        focus-workspace 4
    }
    Mod+5 {
        focus-workspace 5
    }
    Mod+Ctrl+1 {
        move-column-to-workspace 1
    }
    Mod+Ctrl+2 {
        move-column-to-workspace 2
    }
    Mod+Ctrl+3 {
        move-column-to-workspace 3
    }
    Mod+Ctrl+4 {
        move-column-to-workspace 4
    }
    Mod+Ctrl+5 {
        move-column-to-workspace 5
    }
    Mod+Shift+1 {
        move-window-to-workspace 1
    }
    Mod+Shift+2 {
        move-window-to-workspace 2
    }
    Mod+Shift+3 {
        move-window-to-workspace 3
    }
    Mod+Shift+4 {
        move-window-to-workspace 4
    }
    Mod+Shift+5 {
        move-window-to-workspace 5
    }
}
