#!/bin/sh
# vim: ft=sh

alias sysinfo="neofetch --ascii ~/.config/neofetch/chess.txt"
alias screencast="adb connect 192.168.43.1:5555; scrcpy -b 2M -m 1080 --push-target /sdcard/Download &"
alias py="python"
alias {vi,vim,nano}="nvim"
alias pacman-mirror="reflector"
alias :q="exit"
alias tetris="autoload -Uz tetriscurses;tetriscurses"
alias nvr="nvr --servername $(nvr --serverlist | head -1)"

#
# yotube-viewer #
#
alias yt1="youtube-viewer --resolution=144p"
alias yt2="youtube-viewer --resolution=240p"
alias yt3="youtube-viewer --resolution=360p"
alias yt4="youtube-viewer --resolution=480p"
alias yt7="youtube-viewer --resolution=720p"
alias yt10="youtube-viewer --resolution=1080p"

#
# pacman
#
alias pmu="pekmen;sudo reflector --verbose --latest 5 --protocol https --sort rate --save /etc/pacman.d/mirrorlist"
alias pmu-id="pekmen;sudo reflector --verbose --country Indonesia --age 12 --protocol https --protocol http --sort rate --save /etc/pacman.d/mirrorlist"
alias psu="sudo pacman -Fyy && sudo pacman -Syyuw"
alias paczf="pacman -Qq | fzf --preview 'pacman -Qil {}' --layout=reverse --bind 'enter:execute(pacman -Qil {} | less)'"
alias pacname="pacman -Sup --print-format \"%n\" | sort -n"
alias pacurl="pacman -Sup | grep https"
alias pacsize="pacman -Sup --print-format \"%s %n\" | sort -n"
alias spp="sudo powerpill"

# FZF alias
alias fzfp="fzf --reverse --preview 'bat --style=numbers --color=always {}'"

# cpupower
alias performance="sudo cpupower frequency-set -g performance"
alias ondemand="sudo cpupower frequency-set -g ondemand"
alias cpuinfo="watch -n1 \"cat /proc/cpuinfo | grep 'MHz'\""

# lampp
alias lamppstart="sudo systemctl start nginx.service;sudo systemctl start php-fpm.service;sudo systemctl start mariadb.service"
alias lamppstop="sudo systemctl stop nginx.service;sudo systemctl stop php-fpm.service;sudo systemctl start mariadb.service"

# zshmarks
alias g="jump"
alias b="bookmark"
alias d="deletemark"
alias m="showmarks"

# gcloud sdk
# alias glogin="gcloud auth login"
# alias gshell="gcloud alpha cloud-shell ssh --authorize-session"
# alias gproject="gcloud config set project"
# alias gclean="gcloud auth revoke --all"

alias nvim-update="yay --sudoloop -S --noconfirm neovim-git && nvim +PlugUpdate"

