set colored-completion-prefix on
set colored-stats on
set completion-ignore-case on
set expand-tilde on
set mark-symlinked-directories on
set menu-complete-display-prefix on
set show-all-if-ambiguous on
set show-all-if-unmodified on
set visible-stats on
set horizontal-scroll-mode on
